@mixin bar() {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    height: 100%;
}

@mixin container() {
    max-width: 75rem;
    margin: 0 auto;
}